
<div class="jumbotron text-center">
    <h1 class="display-4">Stupid Coaching</h1>
  </div>

  <div class="container">

    <div class="card-head">
        <div class="border-start border-dark border-2">
          <p class="card-text px-4"><%= params[:questions] %></p>
          <h5 class="card-title px-4"> - You</h5>
        </div>
    </div>

  <div class="card-head">
      <div class="border-start border-dark border-2">
          <p class="card-text px-4"><%= @answer %></p>
          <h5 class="card-title px-4"> - Your coach</h5>
      </div>
  </div>

  </div>
</div>
